
.inputContainer {
  position: relative;
}

.button {
  position: absolute;
  background: url('./img/icon.svg') no-repeat center;
  top: 50%;
  width: 25px;
  height: 25px;
  right: 20px;
  transform: translate(0, -50%);

  &.active {
    background: url('./img/icon-active.svg') no-repeat center;
  }
}