.authFormField {
  .textLabel {
    font-size: 14px;
    line-height: 20px;
    color: rgba(52, 64, 84, 1);
    margin-bottom: 6px;
    font-weight: 500;
  }
}

.profileEditDataFormField {
  .textLabel {
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}

.defaultRadioColumn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  .textLabel {
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}