
.groupList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.groupListContainer {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.sideBar {
  flex: 0 0 300px;
  max-height: 500px;
  overflow-y: auto;
}

.content {
  flex-grow: 1;
}

form.createGroupForm {
  height: 81px;
}