.nav {
  flex: 0 0 420px;
  border-right: 2px solid rgba(248, 249, 252, 1);
}

.navHeader {
  padding: 0 20px;
}

.createNavLinkBlock {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 28px;
  font-weight: 500;
}


.saveName {
  display: none;
}

.nameForm {
  margin-bottom: 57px;
  position: relative;
}

.nav input.stepNameInput {
  padding-right: 40px;
}

.createEntityForm {
  border-top: 1px solid rgba(248, 249, 252, 1);
  border-bottom: 1px solid rgba(248, 249, 252, 1);
}