
.item {
  display: flex;
  align-items: center;
  gap: 40px;
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.itemRate {
  display: flex;
  align-items: center;
  flex: 0 0 20%;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: rgba(234, 236, 245, 1);
  border-radius: 8px;
  padding: 2px;
  margin-right: 5px;
}

.submitBtn {
  display: none;
}

.scoreInput {
  background-color: inherit;
  color: black;
  width: 55px;
  text-align: center;
  padding-left: 10px;
}

.linkStep, .fileLink {
  color: rgba(155, 138, 251, 1);
  text-align: left;
  justify-content: start;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.stepName {
  flex: 0 0 40%;
}

.emptyList {
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 12px;
}