
.createEntityForm {
  height: 56px;
  width: 100%;
  position: relative;

  input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 20px;
    font-size: 18px;

    &:focus {
      border-top: 1px solid rgba(248, 249, 252, 1);
      border-bottom: 1px solid rgba(248, 249, 252, 1);
      outline: none;
    }
  }


  button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 28px;
    font-weight: 500;

    &:hover {
      color: rgba(101, 123, 255, 1);
    }
  }
}