.list {
  font-size: 18px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: auto;
  max-height: 400px;
  height: auto;
  border: 1px solid;
  border-left: none;
  border-right: none;
  flex-grow: 1;
}

.item{
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;

  &:hover {
    background-color: rgba($color: #6f6c6c, $alpha: 1.0);
  }

  &:hover button {
    display: flex;
  }
}