.page {
  display: flex;
  padding-top: 50px;
}

.body {
  padding: 40px 0;
  flex-grow: 1;
  background-color: rgba($color: #6e6c6c, $alpha: 1.0);
}

.bodyContainer {
  margin: 0 auto;
  max-width: 1400px;
}